body{
    margin : 0;
}

.navbar { 
    background-color: azure;
    padding : 10px;
    display: grid;
    grid-template-columns: 0.5fr 10fr 120px;
}
header .title {
    text-align: center
}

.navbar .menu{
    display : grid;
    grid-template-columns: 1fr 1fr;
}