.mdl-layout-title{
    font-family : d2Coding;
}
.body-loginform #center{
    text-align: center;
}
.body-loginform #leftside{
    background-color: rgb(0, 0, 0,30%);
}
.body-registerform #center{
    text-align : center;
}
.body-loginform #rightside{
    background-color: rgb(0,0,0,30%);
}
