body {
    overflow: hidden;
    display: flex;
    margin: 0;
    padding: 0;
    height : 100%;
    width : 100%;
    align-content : center;
}

.container {
    display: inline-flex;
    flex-direction: row;
    gap: 0px;
    width : 100%;
    height: 98%;
    position: absolute;
}

.container > .item {
    height: 100%;
    width: 8%;
    background-color: rgb(255, 255, 100);
    border: 1px solid black;
    position: relative;
}

.container > .item.hide-transition {
    transition: opacity 0.5s linear;
    opacity: 0;
}